spring: 
#Configuración MySQL 
 datasource: 
  url: jdbc:mysql://localhost:3306/cultivos?allowPublicKeyRetrieval=true&useSSL=false&useTimezone=true&serverTimezone=GMT&characterEncoding=UTF-8 
  username: admin 
  password: admin
  driver-class-name: com.mysql.cj.jdbc.Driver 
  
  #Configuración Creación de tablas (Hibernate) 
 jpa: 
  show-sql: true 
  hibernate: 
   ddl-auto: update
  properties: 
   hibernate: 
    dialect: org.hibernate.dialect.MySQL5InnoDBDialect 
   
   #Que thymeleaf no guarde datos en cache 
 thymeleaf: 
  cache: false 
server: 
 port: 8081
 error: 
  whitelabel: 
   enabled: false 
 servlet: 
  session: 
   cookie: 
    http-only: true 
   tracking-modes: 
   - cookie

