.btn-verano1{
padding: 15px;
}

.crear-cuenta-sesion{
    height: 70px;
    width: 200px;
    background: brown;
    right: 5%;
    position: fixed;
    z-index: 11000;
    display:flex;

}
.colum1{
    height: auto;
}
.colum2{
    background: rgba(255, 255, 255, 0.644);
    height: auto;
    margin: 50px;
    margin-top: 110px;
    padding: 20px;
}
.colum3{
    height: auto;
}
.fondo{
    background-image: url("img/fondo.jpg");
    height: 100%;
    background-size: cover;
    background-position: fixed;
}
body{
    overflow-x: hidden;
}

.titulo{
    height: 150px;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 10px;
    background-color: rgb(193, 203, 156);
    text-align: center;
    align-items: center;  /*para alignitems, justifycontent,display hay que poner flexbox en clase html*/
    justify-content: center;
    display:flex;
}

.filtro{
  height: 400px;
  margin-top: 10px;
  margin-left: 40px;
  margin-right: 40px;
  background-color: rgb(193, 203, 156);
  align-items: center;  /*para alignitems, justifycontent,display hay que poner flexbox en clase html*/
  justify-content: center;
  display:flex;
}
.btn-otoño{
    height: 90px;
    width: 90px;
    background-color: burlywood;
    margin-right: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.btn-invierno{
    height: 90px;
    width: 90px;
    background-color: lightblue;
    margin-right: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.btn-primavera{
    height: 90px;
    width: 90px;
    background-color: lightcoral;
    margin-right: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.btn-verano{
    height: 90px;
    width: 90px;
    background-image: url(verano.webp);
    background-size: cover;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
}
.resultados{
    height: auto;
    max-height: auto;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: rgb(193, 203, 156);
    align-items: center;
    justify-content: center;
    display:flex;
}
.seleccionados{
    list-style: none;
    display:flex;
    margin-right: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 60px;
    width: 60px;

}
.detalle-cultivo{
    height: auto;
    max-height: auto;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: rgb(193, 203, 156);
    align-items: center;
    justify-content: center;
    display:flex;
}
.titulo-detalle{
    background: rosybrown;
    height: 90px;
    width: 300px;
    align-items: center;
    justify-content: center;
    display:flex;
}
.descripcion-detalle{
    background: whitesmoke;
    margin: 40px;
    width: 700px;
    padding: 30px ;
    background-color: aquamarine;

}
h3{
    font-size: 25px;;
}
.lista-detalle{
    height: 30px;
    list-style: none;
}
.crearCuenta{
    background:rgb(193, 203, 156);
    margin-left: 25%;
    margin-right: 25%;
    z-index: 9999;
    height: 200px;
    background: blanchedalmond;
    box-shadow: 9px 10px 5px rgb(0 0 0 / 20%);
    margin-bottom: -6%;
    align-items: center;
    justify-content: center;
}
.parrafo-cuenta{
    color: brown;
}
.boton-crear-cuenta{
    height: 90px;
    width: 90px;
    background-color: blueviolet;
    margin-right: 20px;
    margin-top: 40px;
    margin-bottom: 40px;

}


/*-------------------LOGIN------------------*/

.contra{
    text-align: right;
}

.cuenta{
    text-align:  center;

}

.button1{
    background-color: #6963a7; /* Green */
    border: none;
    color:rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

nav{
    background:#ffffff;
}
.you{
    margin-right:100px ;
}
.mb-4{
    width: 230px;
    display: grid;

}

.fondo-login{
    background-image: url("img/fondo.jpg");
    height: 700px;
    background-size:auto;
    background-repeat: no-repeat;
}

/*------------REGISTER----------*/
.mb-2{
    width: 400px;
}

.botonCrearCuenta{
    align-items: center;
    width: 230px;
    text-align: center;
}

/*-----------------------------------------------------------------------------------------------*/
/*-------------------------------------MI CALENDARIO---------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/
.filtro-myaccount{
    margin-right: 40px;
    width: 465px;
    background-color: rgb(193, 203, 156);
    align-items: center;
    justify-content: center;
    display: flex;
}
.boton{
    margin-top: 50px;
    margin-bottom: 50px;
}
